include parcials/head.pug
body
   include layout/navbar.pug
   section.container.mx-auto.p-8.text-gray-700(class="sm:my-8 sm:border")
      h2.text-4xl.font-light
         | About
      p Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus, voluptatibus! Neque, iusto asperiores error eius architecto eligendi explicabo laboriosam voluptatum?