include ../parcials/head
body
   include ../layout/navbar
   .container.mx.auto.p-4
      form.border.p-4(action="/login", method="POST")
         h1.text-2xl.mb-4.font-semibold Login
         div.mb-4
            label.block(for="username") Username
            input#username.py-1.px-3.block.w-full.border.border-gray-600(type="text", name="username")
         div.mb-4
            label.block(for="password") Password
            input#password.py-1.px-3.block.w-full.border.border-gray-600(type="password", name="password")
         button.bg-green-500.text-white.py-1.px-3.uppercase(type="submit") login
