include ../parcials/head
body
   include ../layout/navbar
   .container.mx.auto.p-4
      include ../parcials/msg
      form.border.p-4(action="/signup", method="POST")
         h1.text-2xl.mb-4.font-semibold Register
         div.mb-4
            label.block(for="username") Username
            input#username.py-1.px-3.block.w-full.border.border-gray-600(type="text", name="username", value=`${username || ""}`)
         div.mb-4
            label.block(for="email") Email
            input#email.py-1.px-3.block.w-full.border.border-gray-600(type="email", name="email", value=`${email || ""}`)
         div.mb-4
            label.block(for="password") Password
            input#password.py-1.px-3.block.w-full.border.border-gray-600(type="password", name="password")
         div.mb-4
            label.block(for="confirm_password") Confirm password
            input#confirm_password.py-1.px-3.block.w-full.border.border-gray-600(type="password", name="confirm_password")
         button.bg-green-500.text-white.py-1.px-3.uppercase(type="submit") signin
